/*Next Шрифт для всего текста*/
/* body{font-family:'Georgia',serif;} */
/*Next lines Разные стили списков*/
/*ul.dash{list-style-type:none;}*/
/*ul.dash li:before{content:"\2010";position:relative;left:-5px;}*/
/*ul.square{list-style-type:square;}*/
/*!*Next Заголовки разделов*!*/
/*.s-title{font-size:2rem;font-weight:bold;text-align:center;}*/
/*!*Next Слегка приглушённый фон для разделов*!*/
/*.muted {background:#efefef;padding:80px 0 !important;border-radius:25px;}*/
/*!*Next Общий отступ для разделов*!*/
/*.s-container {padding:100px 0 !important;}*/

.v-application {
  font-family: Georgia, 'Times New Roman', Times, serif !important;

  .v-card__title {
    padding-top: 32px;
  }

  .v-card__text {
    padding-bottom: 42px;
  }
}

.psysreda-card-header, .v-dialog > .v-card > .v-card__title {
  display: block !important;
  font-size: 23px !important;
  color: #444 !important;
  line-height: 33px !important;
  text-align: center !important;
}

.rounded-1 {
  border-radius: 112px;
}

.rounded-2 {
  border-radius: 32px;
}

.main-page-block {
  margin: 0 auto;
  max-width: 480px !important;
  @media (min-width: 240px) {
    min-width: 320px !important;
    max-width: 320px !important;
  }
  @media (min-width: 500px) {
    min-width: 480px !important;
  }
}

.v-input--radio-group__input .v-label {
  //font-size: 18px !important;
  //font-family: Verdana !important;
  //color: black !important;
}

.v-progress-linear__content {
  font-size: 13px !important;
  font-family: Verdana !important;
}

.main-page-block .v-card__text, .v-card__subtitle {
  font-size: 17px !important;
  line-height: 21px !important;
  color: #666 !important;
}

.v-label {
  color: rgba(0, 0, 0, 0.8) !important;
}

.result-message {
  font-size: 16px;
  color: #111;
  padding-top: 10px;
  padding-bottom: 10px;
}

.test-environment {
  position: absolute;
  left: 40%;
  top: 0;
  font-size: 9px !important;
  color: #999;
}
