.psysreda-button {
  color: white !important;
}

.psysreda-red-button {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: white !important;
}

.psysreda-pink-button {
  background-color: #FA6060 !important;
  border-color: #FA6060 !important;
  color: white !important;
}

.psysreda-blue-button {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: white !important;
}

.psysreda-orange-button {
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
  color: white !important;
}

.psysreda-green-button {
  background-color: #00cc00 !important;
  border-color: #00cc00 !important;
  color: white !important;
}

.btn-fix-width-1 {
  width: 130px;
}
