.custom-text-1, .v-card__subtitle {
  font-size: 17px !important;
  line-height: 21px !important;
  color: #666 !important;
}

.custom-text0 {
  font-size: 13px;
  font-family: Verdana;
}

.custom-text1 {
  font-size: 18px;
  font-family: Verdana;
}

.custom-text2 {
  font-size: 15px;
  font-family: Verdana;
}
