/*Next Шрифт для всего текста*/
/* body{font-family:'Georgia',serif;} */
/*Next lines Разные стили списков*/
/*ul.dash{list-style-type:none;}*/
/*ul.dash li:before{content:"\2010";position:relative;left:-5px;}*/
/*ul.square{list-style-type:square;}*/
/*!*Next Заголовки разделов*!*/
/*.s-title{font-size:2rem;font-weight:bold;text-align:center;}*/
/*!*Next Слегка приглушённый фон для разделов*!*/
/*.muted {background:#efefef;padding:80px 0 !important;border-radius:25px;}*/
/*!*Next Общий отступ для разделов*!*/
/*.s-container {padding:100px 0 !important;}*/

.v-application {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.psysreda-red-button {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
  color: white !important;
}
.psysreda-blue-button {
  background-color: #007bff !important;
  border-color: #007bff !important;
  color: white !important;
}
.psysreda-orange-button {
  background-color: #ff4500 !important;
  border-color: #ff4500 !important;
  color: white !important;
}
.psysreda-card-header {
  display: block !important;
  font-size: 23px !important;
  color: #444 !important;
  line-height: 33px !important;
  text-align: center !important;
}
