$container-max-width: 1240px;
$space-after-tabs: 100px;
$border-radius: 48px;
$footer-height: 45px;
$footer-border-style: 1px dashed #aaa;
$space-after-blocks: 40px;

// Sizes.
$px-5: 5px;
$px-7: 7px;
$px-10: 10px;
$px-15: 15px;
$px-20: 20px;
$px-25: 25px;
$px-30: 30px;
$px-40: 40px;
$px-50: 50px;

// Buttons.
$button-height-normal: 34px;